{% extends 'base.html' %}
{% block content %}
<div class = 'container'>
<h1><i class="large account_box"></i>{{ user.username }}</h1><img src="{{ user.get_avatar(128) }}" alt="">
{% if user.about_me %}
<p>{{ user.about_me }}</p>
{% else %}
<p>No info</p>
{% endif %}
{% if user.last_seen %}
<p>last seen: {{ user.last_seen }}</p>
{% endif %}
<ul class="collection">
    
    {% for post in posts %}
    <li class="collection-item avatar">
        <img class="circle" src="{{ post.author.get_avatar(32) }}" alt="">
        <span class="title"><b>{{ post.author.username}}</b></span>
        <p>{{post.text}}</p>
    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}
